html {
    scroll-behavior: smooth;
}
#contacto{
    position: relative;
    color: #ffffff;
    text-shadow: 2px 2px #00000094;
    text-align: left;
    text-transform: uppercase;   
    font-weight: bolder;
    background-color: #00A7E1;
    width: auto;
    height: auto;
}
.contacto{
    font-size: 3vw;
    margin-left: 1vw;
}

@media screen and (max-width: 580px) {
    .contacto{
        font-size: 6vw;
        margin-left: 1vw;
    }
    form{
        border-radius: 2vw;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        background-image: linear-gradient(to bottom right,  #fff,#00A7E1);
        box-shadow: 2px 2px 4px #00000097;
    }
    label{
        padding: 5px;
        text-align: left;
        font-size: 5vw;
    }
     input {
        padding: 10px;
        width: 100%;
        height: 3vw;
        font-size: 2.5vw;
        border-radius: 1.5vw;
        border: 2px solid #00A7E1;
    }
    #mensaje{
        width: 100%;
        height: 150px;
        border-radius: .5vw;
        border: 2px solid #00A7E1;
    }
    .elementos{
        margin: 20px;
    
    }
    .elementos input:focus{
        outline: 0;
        border: 2px solid #00A7E1;
    }
    .elementos textarea:focus{
        outline: 0;
        border: 2px solid #00A7E1;
    }
    
    #enviar{
        font-size: 3vw;
        height: 8vw;
        overflow: hidden;
    }
    #borrar{
        font-size: 3vw;
        height: 8vw;
        overflow: hidden;
    }
}
/*Dispositivo mediano*/
@media (min-width: 581px) and (max-width: 960px) {
    form{
        border-radius: 2vw;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        background-image: linear-gradient(to bottom right,  #fff,#00A7E1);
            box-shadow: 2px 2px 4px #00000097;
    }
    label{
        padding: 5px;
        text-align: left;
        font-size: 3vw;
    }
     input {
        padding: 10px;
        width: 100%;
        height: 5vw;
        font-size: 2.5vw;
        border-radius: 1.5vw;
        border: 2px solid #00A7E1;
    }
    #mensaje{
        width: 100%;
        height: 150px;
        border-radius: .5vw;
        border: 2px solid #00A7E1;
    }
    .elementos{
        margin: 20px;
    
    }
    .elementos input:focus{
        outline: 0;
        border: 2px solid #00A7E1;
    }
    .elementos textarea:focus{
        outline: 0;
        border: 2px solid #00A7E1;
    }
    
    #enviar{
        font-size: 3vw;
        height: 8vw;
        overflow: hidden;
    }
    #borrar{
        font-size: 3vw;
        height: 8vw;
        overflow: hidden;
    }
}
/*dispositivo grande*/
@media screen and (min-width: 961px) {
    form{
        border-radius: 2vw;
        margin-left: 30%;
        margin-right: 30%;
        width: 40%;
        background-image: linear-gradient(to bottom right,  #fff,#00A7E1);
        box-shadow: 2px 2px 4px #00000097;
    }
    label{
        padding: 1vw;
        text-align: left;
        font-size: 2vw;
    }
    input {
        padding: 1vw;
        width: 100%;
        height: 3vw;
        font-size: 1.5vw;
        border-radius: .5vw;
        border: 2px solid #00A7E1;
        margin: 1vw 0vw;
    }
    #mensaje{
        width: 100%;
        height: 150px;
        border-radius: .5vw;
        border: 2px solid #00A7E1;
        font-size: 1.5vw;
    }
    .elementos{
        margin: 1vw;
    
    }
    .elementos input:focus{
        outline: 0;
        border: 2px solid #00A7E1;
    }
    .elementos textarea:focus{
        outline: 0;
        border: 2px solid #00A7E1;
    }
    #enviar{
        font-size: 1vw;
        height: 3vw;
        overflow: hidden;
    }
    #borrar{
        font-size: 1vw;
        height: 3vw;
        overflow: hidden;
    }
    
}    