*{
    box-sizing: border-box;
}
.miSlides{
    display: none;
 
    width: 75%;
    margin-top: -100px;
    z-index: 5;
}
.miSlides img{
    max-width: 75%;
    position: relative;
    margin-right: -700px;
    
}

/*contenedor slideshow*/
.slideshow-contenedor{
    max-width: 100vw;
    max-height: 25vw;
    position: relative;
   
    
}
/*Ocultar Imagenes*/

.fade{
    animation-name: fade;
    animation-duration: 3s;
}

@keyframes fade{
    from {opacity: .8;}
    to { opacity: 1;}
}

